.section {
  text-align: left;
  position: relative;

  h1 {
    font-size: 28px;
    font-weight: bold;
  }

  .spantitle {
    color: #39424b;
    font-weight: 400;
  }

  .new::after {
    width: 66px;
    height: 20px;
    content: ' ';
    margin-left: 8px;
    display: inline-block;
    position: relative;
    top: -12px;
    background: url(../images/new.png) no-repeat center top;
  }

  .discount {
    color: #fff;
    font-size: 18px;
    height: 22px;
    line-height: 21px;
    display: inline-block;
    position: relative;
    background: #ea4f39;
    margin-left: 5px;
    padding: 0 5px; 
    top: -6px;
    transform: skewX(-30deg);
    -ms-transform:skewX(-30deg); /* Internet Explorer */
    -moz-transform:skewX(-30deg); /* Firefox */
    -webkit-transform:skewX(-30deg); /* Safari 和 Chrome */
    -o-transform:skewX(-30deg); /* Opera */

    i {
      display: inline-block;
      transform: skewX(20deg);
      -ms-transform:skewX(20deg); /* Internet Explorer */
      -moz-transform:skewX(20deg); /* Firefox */
      -webkit-transform:skewX(20deg); /* Safari 和 Chrome */
      -o-transform:skewX(20deg); /* Opera */
    }

    i:nth-of-type(2) {
      font-size: 12px;
    }

  }
  
  h3 {
    span:nth-of-type(1) {
      font-size: 24px;
      color: #ff9731;
    }

    span:nth-of-type(2) {
      color: #ff9731;
      font-size: 36px;
    }

    span:nth-of-type(3) {
      text-decoration: line-through;
    }
  }

  .p-line {
    width: 100%;
    padding: 5px 0;
    border-bottom: 1px solid #eee;
    display: inline-block;
  }
  .p-line + p {
    margin: 10px 0;
  }
  
  .price-box {
    min-height: 130px;
  }
  
  .pay-box {
    min-height: 100px;
  }
  
  .price {
    background: #f0f0f0;
    width: 275px; 
    height: 35px;
    line-height: 35px;
    display: inline-block;
    margin-bottom: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;

    &:nth-of-type(2n + 1) {
      margin-right: 20px;
    }
  }

  .leftbtn {
    margin-top: 8px;
    font-size: 18px;
    display: block;
    width: 180px;
    height: 50px;
    text-align: center;
    border-radius: 25px;
  }
  
  .paybtn {
    margin-top: 50px;
    font-size: 18px;
  }
  
}

