.ant-modal {
  width: 450px !important;;
}

.ant-form {
  margin-top: 15px;
}

.forgot-div {
  text-align: right;

  span {
    color: #1f9dde;
    cursor: pointer;
  }
}

.login-form-button {
  text-align: center;
}
